
  <div class="mapSection">
  
      <div class="map" id="map"></div>

      <div class="contactInfo">
          <a class="closeIt" >
            <span>Закрыть</span>
          </a>
          <ul>
            <li>
              <span><img src="img/mapPic.png" alt="map"></span>
              <span>Москва<br/>
              Климентовский пер., д.1/18, стр.2</span>
            </li>
            <li>
              <span><img src="img/mailPic.png" alt="mail"></span>
              <span>info@teamdrive.su</span>
            </li>
            <li>
              <span><img src="img/phonePic.png" alt="phone"></span>
              <span>
              офис: +7 (495) 797-80-38<br/>
              +7 (903) 118-07-45 <br/>
              +7 (985) 136-30-07</span>
            </li>
          </ul>
      </div>
  </div>